<div class="main-content app-content col-md-12 mb-3">
  <div class="side-app">
    <!-- CONTAINER -->
    <div class="main-container container-fluid">
      <div class="row">
        <!-- ! Gauche -->
        <div class="col-md-12 col-xl-6">

<!-- ! AJOUT ROLE -->
<div class="card">
  <div class="card-header">
    <h3 class="card-title">Ajouter un role</h3>
  </div>
  <div class="card-body">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        id="role"
        placeholder="Role"
      />
    </div>

    <div class="form-footer mt-2">
      <a href="javascript:void(0)" class="btn btn-primary"
      >Ajouter un role</a
      >
    </div>
  </div>
</div>
<!-- ! END AJOUT ROLE -->
        </div>
      </div>
    </div>
  </div>
</div>
