<div class="ltr login-img">
  <!-- BACKGROUND-IMAGE -->
  <div class="">
    <!-- GLOABAL LOADER -->
    <div id="global-loader">
      <img src="assets/images/loader.svg" class="loader-img" alt="Loader" />
    </div>
    <!-- /GLOABAL LOADER -->

    <!-- PAGE -->
    <div class="page" style="background-color: #ffffff">
      <div class="">
        <!-- Theme-Layout -->

        <!-- CONTAINER OPEN -->
        <div class="col col-login mx-auto mt-7">
          <div class="text-center">
            <a href="index.html"
              ><img
                style="width: 100px"
                src="assets/logo/groupeisi.png"
                class="header-brand-img"
                alt=""
            /></a>
          </div>
        </div>

        <div class="container-login100">
          <div class="wrap-login100 p-6">
            <form class="login100-form validate-form">
              <span class="login100-form-title pb-5"> Connexion </span>
              <div class="panel panel-primary">
                <div class="panel-body tabs-menu-body p-0 pt-5">
                  <div class="tab-content">
                    <form (ngSubmit)="onSubmit()">
                    <div class="tab-pane active" id="tab5">
                      <div
                        class="wrap-input100 validate-input input-group"
                        data-bs-validate="Valid email is required: ex@abc.xyz"
                      >
                        <a
                          href="javascript:void(0)"
                          class="input-group-text bg-white text-muted"
                        >
                          <i
                            class="zmdi zmdi-email text-muted"
                            aria-hidden="true"
                          ></i>
                        </a>
                        <input
                          class="input100 border-start-0 form-control ms-0"
                          type="email"
                          placeholder="Email" [(ngModel)]="email" name="email"
                        />
                      </div>
                      <div
                        class="wrap-input100 validate-input input-group"
                        id="Password-toggle"
                      >
                        <a
                          href="javascript:void(0)"
                          class="input-group-text bg-white text-muted"
                        >
                          <i
                            class="zmdi zmdi-eye text-muted"
                            aria-hidden="true"
                          ></i>
                        </a>
                        <input
                          class="input100 border-start-0 form-control ms-0"
                          type="password"
                          placeholder="Mot de passe" [(ngModel)]="password"  name="password"
                        />
                      </div>
                      <div class="container-login100-form-btn">
                        <button type="submit"  class="btn btn-primary py-3 w-100 mb-4"><a >Se Connecter</a></button>
                      </div>
                    </div>
                    </form>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- CONTAINER CLOSED -->
      </div>
    </div>
    <!-- End PAGE -->
  </div>
  <!-- BACKGROUND-IMAGE CLOSED -->
</div>
