<div class="sticky">
  <div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
  <div class="app-sidebar">
    <!-- ! LOGO APP -->
    <div class="side-header">
      <a class="header-brand1" (click)="goToDashboard()">
        <!-- <img src="assets/images/brand/logo-white.png" class="header-brand-img desktop-logo" alt="logo"> -->
        <img
          style="width: 80px"
          src="../assets/logo/groupeisi.png"
          class="header-brand-img desktop-logo"
          alt="logo"
        />
        <img
          style="width: 80px"
          src="../assets/logo/groupeisi.png"
          class="header-brand-img toggle-logo"
          alt="logo"
        />
        <img
          style="width: 80px"
          src="../assets/logo/groupeisi.png"
          class="header-brand-img light-logo"
          alt="logo"
        />
        <img
          style="width: 80px"
          src="../assets/logo/groupeisi.png"
          class="header-brand-img light-logo1"
          alt="logo"
        />
      </a>
      <!-- LOGO -->
    </div>
    <!-- ! END LOGO APP -->

    <div class="main-sidemenu pt-5">
      <div class="slide-left disabled" id="slide-left">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="#7b8191"
        n  width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"
          />
        </svg>
      </div>
      <ul class="side-menu">
        <!-- ! Module principal -->
        <li class="sub-category">
          <h3>Principal</h3>
        </li>
        <li class="slide" style="cursor: pointer">
          <a
            class="side-menu__item has-link"
            data-bs-toggle="slide"
            (click)="goToDashboard()"
            ><i class="side-menu__icon fe fe-home"></i
            ><span class="side-menu__label">Tableau de bord</span></a
          >
        </li>
        <!-- ! END MODULE PRINCIPAL -->
        <!-- ? Gestion campus et salle  -->
        <li class="sub-category">
          <h3>Gestion campus et salle</h3>
        </li>
        <!--   Aller a la liste des campus     -->
        <li class="slide" style="cursor: pointer">
          <a
            class="side-menu__item has-link"
            data-bs-toggle="slide"
            (click)="goTOListCampus()"
          ><i class="side-menu__icon fe fe-book"></i
          ><span class="side-menu__label">Liste des campus</span></a
          >
        </li>
        <!-- ! END Gestion campus et salle -->

        <!-- ? END MODULE 1 -->

        <!-- ? Gestion materiel et type materiel  -->
        <li *ngIf="user?.idRole !=3" class="sub-category">
          <h3>Gestion materiel et type materiel</h3>
        </li>
        <li *ngIf="user?.idRole !=3" class="slide">
          <a
            class="side-menu__item"
            data-bs-toggle="slide"
            href="javascript:void(0)"
            ><i class="side-menu__icon fe fe-slack"></i
            ><span class="side-menu__label">Materiel</span
            ><i class="angle fe fe-chevron-right"></i>
          </a>
          <ul class="slide-menu">
            <li class="panel sidetab-menu">
              <div class="tab-menu-heading p-0 pb-2 border-0">
                <div class="tabs-menu">
                  <!-- Tabs -->
                  <ul class="nav panel-tabs">
                    <li>
                      <a
                        href="#side1"
                        class="d-flex active"
                        data-bs-toggle="tab"
                        ><i class="fe fe-monitor me-2"></i>
                        <p>Home</p></a
                      >
                    </li>
                    <li>
                      <a href="#side2" data-bs-toggle="tab" class="d-flex"
                        ><i class="fe fe-message-square me-2"></i>
                        <p>Chat</p></a
                      >
                    </li>
                  </ul>
                </div>
              </div>
              <div class="panel-body tabs-menu-body p-0 border-0">
                <div class="tab-content">
                  <div class="tab-pane active" id="side1">
                    <ul class="sidemenu-list">
                      <li class="side-menu-label1">
                        <a href="javascript:void(0)"
                          ><Main></Main>Materiel et type materiel</a
                        >
                      </li>
                      <li style="cursor: pointer">
                        <a
                          (click)="goToListMateriels()"
                          class="slide-item"
                          >Listes materiels</a
                        >
                      </li>

                      <li style="cursor: pointer">
                        <a (click)="goToListTypeMateriel()" class="slide-item">Listes types materiels</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <!-- ! END Gestion materiel et type materiel -->
        <!-- ? END MODULE 2 -->

        <!-- ? Affectation  -->
        <li *ngIf="user?.idRole !=3" class="sub-category">
          <h3>Affectation</h3>
        </li>
        <li *ngIf="user?.idRole !=3 || user?.idRole !=5"  class="slide">
          <a
            class="side-menu__item"
            data-bs-toggle="slide"
            href="javascript:void(0)"
            (click)="goToAffectation()"
            ><i class="side-menu__icon fe fe-slack"></i
            ><span class="side-menu__label">Affectation de materiel</span
            >
          </a>

        </li>
        <!-- ! END Affectation -->
        <!-- ? Affectation  -->
        <li class="sub-category">
          <h3>Affectation</h3>
        </li>
        <li class="slide">
          <a
            class="side-menu__item"
            data-bs-toggle="slide"
            href="javascript:void(0)"
            (click)="goToMyAffectation()"
          ><i class="side-menu__icon fe fe-slack"></i
          ><span class="side-menu__label">Mes Affectations</span
          >
          </a>

        </li>
        <!-- ! END Affectation -->
        <!-- ? END MODULE 3 -->

        <!-- ! Gestion des utilisateurs -->
        <li  class="sub-category">
          <h3>Gestion des demande</h3>
        </li>
        <!--   Aller a la liste des campus     -->
        <li class="slide" style="cursor: pointer">
          <a
            class="side-menu__item has-link"
            data-bs-toggle="slide"
            (click)="goTODemande()"
          ><i class="side-menu__icon fe fe-book"></i
          ><span class="side-menu__label">Faire une demande</span></a
          >
        </li>
        <!-- ! END Gestion campus et salle -->

        <li *ngIf="user?.idRole ==1  || user?.idRole ==4 " class="sub-category">
          <h3>Gestion des demande</h3>
        </li>
        <!--   Aller a la liste des campus     -->
        <li *ngIf="user?.idRole ==1 || user?.idRole ==4 " class="slide" style="cursor: pointer">
          <a
            class="side-menu__item has-link"
            data-bs-toggle="slide"
            (click)="goTOAllDemande()"
          ><i class="side-menu__icon fe fe-book"></i
          ><span class="side-menu__label"> Liste des  demandes</span></a
          >
        </li>
        <!-- ! END Gestion campus et salle -->

<!-- !Test       -->
        <!-- ? Gestion des utilisateurs  -->
        <li *ngIf="user?.idRole !=3 " class="sub-category">
          <h3>Gestion des Utilisateurs</h3>
        </li>
        <li *ngIf="user?.idRole !=3" class="slide">
          <a
            class="side-menu__item"
            data-bs-toggle="slide"
            href="javascript:void(0)"
          ><i class="side-menu__icon fe fe-slack"></i
          ><span class="side-menu__label">Utilisateur</span
          ><i class="angle fe fe-chevron-right"></i>
          </a>
          <ul class="slide-menu">
            <li class="panel sidetab-menu">
              <div class="panel-body tabs-menu-body p-0 border-0">
                <div class="tab-content">
                  <div class="tab-pane active" id="side1">
                    <ul class="sidemenu-list">
                      <li class="side-menu-label1">
                        <a href="javascript:void(0)"><Main></Main></a>
                      </li>
                      <li style="cursor: pointer">
                        <a
                          (click)="goToListeUsers()"
                          class="slide-item"
                        >Lister Utilisateur</a
                        >
                      </li>
                      <li style="cursor: pointer">
                        <a class="slide-item">Lister Role</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <!-- ! END Gestion materiel et type materiel -->
<!-- ! Fin test       -->



      </ul>

      <div class="slide-right" id="slide-right">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="#7b8191"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"
          />
        </svg>
      </div>
    </div>
  </div>
</div>
