<div class="main-content app-content mt-5 pt-9">
  <div class="side-app">
    <!-- CONTAINER -->
    <div class="main-container container-fluid">
<div class="row">
  <h3>Liste du personnel et des fournisseurs</h3>
</div>


<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <h3 class="card-title">Liste des personnels</h3>
        <a
          (click)="goToUserForm()"
          class="btn btn-primary"
          role="button"
        >Ajouter un utilisateur</a>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table text-nowrap text-md-nowrap mb-0">
            <thead>
            <tr>
              <th>ID</th>
              <th>Prenom</th>
              <th>Nom</th>
              <th>Email</th>
              <th>Telephone</th>
              <th>Adresse</th>
              <th>Role</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of utilisateurs">
              <td>{{user.id}}</td>
              <td>{{user.prenom}}</td>
              <td>{{ user.nom }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.telephone }}</td>
              <td>{{user.adresse}}</td>
              <td>{{user.idRole }} </td>
              <td>
                <div class="g-2">
                  <a
                    (click)="redirectTo(user.id)"
                    class="btn text-primary btn-sm"
                    data-bs-toggle="tooltip"
                    data-bs-original-title="Edit"
                    title="Modifier ou voir details"
                  ><span class="fe fe-edit fs-14"></span
                  ></a>
                  <a
                    (click)="delete(user.id)"
                    class="btn text-danger btn-sm"
                    data-bs-toggle="tooltip"
                    data-bs-original-title="Delete"
                    title="Supprimer"
                  ><span
                    class="fe fe-trash-2 fs-14"
                  ></span
                  ></a>
                  <a
                    (click)="voirMateriels('personnel',user.id)"
                    class="btn text-primary btn-sm"
                    data-bs-toggle="tooltip"
                    data-bs-original-title="Voir liste materiel"
                    title="Voir la liste des materiels"
                  ><span
                    class="fe fe-eye fs-14"
                  ></span
                  ></a>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
      <!-- ! Row Tables -->
      <div class="row">
        <div class="col-xl-12">
          <div class="card">
            <div class="card-header d-flex justify-content-between">
              <h3 class="card-title">Liste des fournisseurs</h3>
              <a
                (click)="goToFournisseurForm()"
                class="btn btn-primary"
                role="button"
              >Ajouter un fournisseur</a>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table text-nowrap text-md-nowrap mb-0">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>telephone</th>
                    <th>adresse</th>
                    <th>Ninea</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let fournisseur of fournisseurs" >
                    <td>{{fournisseur.id}}</td>
                    <td>{{fournisseur.nom}}</td>
                    <td>{{fournisseur.email}}</td>
                    <td>{{fournisseur.telephone}}</td>
                    <td>{{fournisseur.adresse}}</td>
                    <td>{{fournisseur.ninea}}</td>
                    <td>
                      <div class="g-2">
                        <a
                          (click)="redirectToF(fournisseur.id)"
                          class="btn text-primary btn-sm"
                          data-bs-toggle="tooltip"
                          data-bs-original-title="Edit"
                        ><span class="fe fe-edit fs-14"></span
                        ></a>
                        <a
                          (click)="deleteF(fournisseur.id)"
                          class="btn text-danger btn-sm"
                          data-bs-toggle="tooltip"
                          data-bs-original-title="Delete"
                        ><span
                          class="fe fe-trash-2 fs-14"
                        ></span
                        ></a>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
<!-- ! End Row Tables -->
    </div>
  </div>
</div>
