<div class="main-content app-content mt-5 pt-9">
  <div class="side-app">
    <!-- CONTAINER -->
    <div class="main-container container-fluid">
      <div class="row">
        <h3>Type Materiel</h3>
      </div>
      <!-- ! Row Tables -->
      <div class="row">
        <div class="col-xl-6">
          <div class="card">
            <div class="card-header d-flex justify-content-around">
              <h3 class="card-title">Liste des type materiel</h3>
              <a *ngIf="user?.idRole ==1 || user?.idRole ==6 "
                (click)="goToTMForm()"
                class="btn btn-primary left"
                role="button"
              >Ajouter un type materiel</a>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table text-nowrap text-md-nowrap mb-0">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>libelle</th>
                    <th *ngIf="user?.idRole ==1 || user?.idRole ==6 ">Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let typemateriel of typemateriels">
                    <td>{{typemateriel.id}}</td>
                    <td>{{ typemateriel.libelle }}</td>
                    <td>
                      <div class="g-2">
                        <a *ngIf="user?.idRole ==1 || user?.idRole ==6 "
                          (click)="redirectTo(typemateriel.id)"
                          class="btn text-primary btn-sm"
                          data-bs-toggle="tooltip"
                          data-bs-original-title="Edit"
                        ><span class="fe fe-edit fs-14"></span
                        ></a>
                        <a *ngIf="user?.idRole ==1 || user?.idRole ==6 "
                          (click)="delete(typemateriel.id)"
                          class="btn text-danger btn-sm"
                          data-bs-toggle="tooltip"
                          data-bs-original-title="Delete"
                        ><span
                          class="fe fe-trash-2 fs-14"
                        ></span
                        ></a>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ! End Row Tables -->
    </div>
  </div>
</div>
